<!-- Navbar -->
<nav
  class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar"
>
  <div class="container">
    <!-- Brand -->
    <a class="navbar-brand waves-effect" href="/">
      <strong class="blue-text">DJKart</strong>
    </a>

    <!-- Collapse -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'store' %}">Store</a>
        </li>
        {% if request.user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link waves-effect" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
        {% endif %}
      </ul>

      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons">
        <li id="cart-icon" class="nav-item mr-1">
          {% include 'components/cart-icon.html' %}
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="{% url 'logout' %}" class="nav-link">
            logout
          </a>
        </li>
        <li class="nav-item">
          <span class="nav-link">Welcome, {{user.get_short_name}}</span>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="{% url 'login' %}" class="nav-link">
            Login
          </a>
        </li>
        <li class="nav-item">
          <a href="{% url 'register' %}" class="nav-link border border-dark rounded waves-effect">
            Sign up
          </a>
        </li>
        {% endif %}
        
        
      </ul>
    </div>
  </div>
</nav>
<!-- Navbar -->