{% extends "dashboard/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container-fluid mt-5">
      
      <div class="row wow fadeIn">
        <div class="col-md-8 mb-4 mx-auto">
          <div class="card mb-4">
            <div class="card-header text-center bg-primary text-white">
              <h2 class="m-0 p-0">Add product</h2>
            </div>
          </div>
        </div>
      </div>

      <div class="row wow fadeIn">
        <div class="col-md-8 mb-4 mx-auto">
          <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn btn-primary" type="submit">Add Product</button>
          </form>
        </div>
      </div>
    </div>
{% endblock content %}